body {
  margin: 0;
  box-sizing: border-box;
  background-image: linear-gradient(to right, #ff8a65, #ffc947, #3f51b5);
  font-family: Roboto, serif;
}

.main {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-icon {
  height: 160px;
  margin: 12px 0 0 12px;
}

.login-signup {
  margin-right: 3rem;
}

.login-btn {
  background-color: white;
  padding: 8px;
  border-radius: 6px;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 28px;
  margin-right: 12px;
  border: 1px solid black;
  cursor: pointer;
}

.signup-btn {
  padding: 8px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 28px;
  margin-right: 12px;
  border: 1px solid white;
  background: transparent;
  cursor: pointer;
}

.container {
  height: 480px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.icon {
  position: absolute;
  height: 60px;
}

.description {
  margin-left: 100px;
}

.heading {
  font-family: Playwrite NZ, serif;
  color: #ffffff;
  font-size: 66px;
  margin-bottom: 0;
  text-indent: -100px;
  font-weight: 500;
}

.paragraph {
  margin: 8px;
  color: #333333;
  font-size: 32px;
  text-indent: 40px;
  font-style: italic;
}

.paragraph2 {
  text-indent: 84px;
  margin-top: 0;
}

.icons-left .icon:nth-child(1) {
  position: absolute;
  top: 100px;
  left: 400px;
}

.icons-left .icon:nth-child(2) {
  position: absolute;
  top: 220px;
  left: 300px;
}

.icons-left .icon:nth-child(3) {
  position: absolute;
  top: 340px;
  left: 400px;
}

.icons-right .icon:nth-child(1) {
  position: absolute;
  top: 100px;
  right: 400px;
}

.icons-right .icon:nth-child(2) {
  position: absolute;
  top: 220px;
  right: 300px;
}

.icons-right .icon:nth-child(3) {
  position: absolute;
  top: 340px;
  right: 400px;
}

.created-by {
  position: absolute;
  bottom: 20px;
  left: 40px;
  color: #f0f0f0;
  font-size: 28px;
  font-style: italic;
}
